<div class="container">
   {{# if errors}}
<section class="errors">
<ul>
    {{# each errors }}
<li>
    <div class="alert alert-danger" role="alert">
         {{ this.msg }}
    </div>
</li>
    {{/each }}
</ul>
</section>
{{/if}}
    Add Experience
<form method='POST' action='/experience/submit'>
 <div class="form-group" > 
    <label>Title</label>
    <input type="text" class="form-control"  placeholder="Title" name="title">
  </div>
<div class="form-group">
    <label>start Date</label>
    <input type="date" class="form-control"  placeholder="start date" name="start">
</div>
<div class="form-group">
    <label>End Date</label>
    <input type="date" class="form-control"  placeholder="end date" name="end">
</div>
<div class="form-group">
    <label>description</label>
    <textarea rows="4" cols="50" name="description" ></textarea>
</div>
<button class="btn btn-primary">
register
</button>
</form>
</div>