<div class="container">
<form method="POST" action="/changepassword">
<div class="form-group">
    <label>old-password</label>
    <input type="password" class="form-control"  placeholder="old password" name="oldpassword">
</div>
<div class="form-group">
    <label>new password</label>
    <input type="password" class="form-control" placeholder="new password" name="newpassword">
</div>
<div class="form-group">
    <label>confirm password</label>
    <input type="password" class="form-control" placeholder="confirm password" name="confirmpassword">

</div>
<button>
    submit
</button>
</form>
</div>