<div class="container">
   Sign in 
<form method='POST' action='/login'>
<div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control"  placeholder="username" name="username">
  </div>
<div class="form-group">
    <label>password</label>
    <input type="password" class="form-control"  placeholder="password" name="password">
</div>
<button class="btn btn-primary">
signin
</button>
 <a class="btn btn-info" align="left" href="/changepassword"> change password</a>
</form>